<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!-- Bootstraps Java Scipts Links -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <span class="navbar-brand mb-0 h1">TradingPhew</span>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Currency
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

        
        <form method="POST">
          <input type="submit" class="dropdown-item" name="currency" value="RUB/USD">
        </form>

        <form method="POST">
          <input type="submit" class="dropdown-item" name="currency" value="RUB/EUR">
        </form>

        <form method="POST">
          <input type="submit" class="dropdown-item" name="currency" value="RUB/GBP">
        </form>

        <form method="POST">
          <input type="submit" class="dropdown-item" name="currency" value="RUB/BTC">
        </form>

        <form method="POST">
          <input type="submit" class="dropdown-item" name="currency" value="RUB/ETH">
        </form>

        <form method="POST">
          <input type="submit" class="dropdown-item" name="currency" value="RUB/SOL">
        </form>

        <form method="POST">
          <input type="submit" class="dropdown-item" name="currency" value="RUB/JPY">
        </form>

        <form method="POST">
          <input type="submit" class="dropdown-item" name="currency" value="RUB/AUD">
        </form>

        <form method="POST">
          <input type="submit" class="dropdown-item" name="currency" value="RUB/CAD">
        </form>

        <form method="POST">
          <input type="submit" class="dropdown-item" name="currency" value="RUB/CNY">
        </form>

      </div>
    </div>

  </nav>

  <div style="width: 500px; margin: 0 auto;">
    <canvas id="myChart" width="100" height="100"></canvas>
  </div>

  <script>

    const addData = (chart, time, data) => {
      chart.data.labels.push(time);
      chart.data.datasets[0].data.push(data)
      chart.update();
    }

    
    // function click_function(){
    // document.getElementsByName("rub_usd")

    const start = async () => {
      const response = await fetch('/init')
      const initValue = await response.json()
      const labels = initValue[0];
      const initData = initValue[1]

    
      const data = {
        labels: labels,
        datasets: [{
          label: initValue[2],
          // backgroundColor: 'rgb(255, 99, 132)',
          backgroundColor: 'rgb(255, 99, 132)',
          // borderColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(0, 0, 0)',
          data: initData
        }]
      };

      const config = {
        type: 'line',
        data: data,
        options: {
          responsive: true,
      interaction: {
      intersect: true,
    },
    scales: {
      x: {
        display: true,
        title: {
          display: true,
          text: 'Time'
        }
      },
      y: {
        display: true,
        title: {
          display: true,
          text: 'Price'
        },
        suggestedMin: 0,
        suggestedMax: 20
      }
    }
        }
      };

    
      // console.log(labels, initData);

      const myChart = new Chart(document.getElementById('myChart'), config);

      setInterval(async () => {
        const response = await fetch('/data');
        const [time, value] = await response.json();
        addData(myChart, time, value)
     }, 1000)
    }
  
    start();

  // }
  </script>
</body>

</html>
